{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Edit Feedback</h1>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_content" class="form-label">Feedback Content</label>
            <!-- Render the content field without filters -->
            {{ form.content }}
        </div>

        <div class="mt-3 d-flex justify-content-start gap-2">
            <button type="submit" class="btn btn-primary btn-sm me-2">Update Feedback</button>
            <a href="{% url 'performance_analytics:test_details' test_attempt_id=test_attempt.id %}" class="btn btn-secondary btn-sm">Back to Test Details</a>
        </div>
    </form>
</div>
{% endblock %}
