{% extends 'base.html' %}
{% block content %}
<h1>Add MCQs to Test: {{ test.title }}</h1>

<!-- Form to add MCQ -->
<form method="post">
    {% csrf_token %}
    <div class="form-group mb-3">
        <label for="mcq">Choose MCQ</label>
        {{ form.mcq }}  <!-- The MCQ selection field -->
    </div>

    <div class="form-group mb-3">
        <label for="order">Order</label>
        {{ form.order }}  <!-- The order input field -->
    </div>

    <button type="submit" class="btn btn-primary">Add MCQ</button>
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-sm ms-2">Cancel</a>

</form>

<!-- Available MCQs List -->
<h2>Available MCQs</h2>
<ul class="list-group">
    {% for mcq in mcqs %}
        <li class="list-group-item">{{ mcq.question }}</li>
    {% empty %}
        <li class="list-group-item">No available MCQs</li>
    {% endfor %}
</ul>

{% endblock %}
