{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{{ user.username }}'s Profile</h2>
    
    <div class="profile-details">
        {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle" width="150">

        {% else %}
            <img src="/static/images/default-profile.png" alt="Default Profile Picture" class="img-fluid rounded-circle" width="150">
        {% endif %}
    </div>

    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Role:</strong> {{ user.get_role_display }}</p>

    <a href="{% url 'profile_edit' %}" class="btn btn-primary">Edit Profile</a>
    <a href="{% url 'profile_delete' %}" class="btn btn-danger">Delete Profile</a>
</div>
{% endblock %}
